@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*box-sizing: border-box;*/
*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}



body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 16px; /*1em=16px*/
	line-height: 1.32;
	background-color:#FEF2E3;
}


p {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:2em;
	text-align: left;
	margin: 20px;
}



#logo{
	float: left;
	height: 100px;
	position: relative;
	padding: 5px;
}

nav {
	letter-spacing: 1px;
	padding-top: 50px;
	float: right;
}
.nav a:hover{
	color: #403527;
}

nav a /* :link (pseudoclass) not working*/{
	text-decoration: none;
	margin: 20px;
	color: #F2C6B6;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

/*pseudo classes not working;
nav a:visited{
	color: #F57C3C;
}
*/

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.Hero{
	position: relative;
	height: initial;
	background: url(../images/hero.png);
	text-align: center;
	background-size: cover;
	background: no-repeat;
}

.Hero img{
	text-align: center;
	width: 100%;
	height: initial;
	margin:0;
	opacity: 0.7;
}


.Hero .shop-now-button{
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	color: #403527;
	font-size: 2em;
	padding: 12px 24px;
	background-color: #F2C6B6;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	border: 2px white solid;
}

.Summary h1{
	font-size: 4em;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: white;
	font-weight: bold;
	padding: 0 2em;
	background-color:#403527;
	text-align: center;
	margin-top: -5px;
	display: block;
}

.Breads{
	width:100%;
	background-color:#F4D4B7;
	height: 450px;
}


.aboutbreadcolumn{
	text-transform: uppercase;
	font-size: 2.5em;
	padding-left: 20px;
	color: #403527;
	text-decoration: underline;
}

.ingredients {
  font-variant: small-caps;
  letter-spacing: .2em;
  padding:0 .2em;
  background: #BF755A;
	color: white;
  font-weight: bolder;
}
.column{
  width: 50%;
  position: relative;
  padding: 2em;
}



.Breads .column{
  float:right;
}

#breadpar{
	width: 50%;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:1.52em;
	color: #403527;
}


.Breads img{
	height: initial;
	padding-top: 20px;
	padding-right: 200px;
	margin-right: 60px;
	width: 45em;
	display: block;
}


.Breads .shop-now-button{
	background: #F2C6B6;
	position: absolute;
  display: inline-block;
	color: #403527;
	cursor: pointer;
	font-size: 1em;
	padding: 12px 24px;
	transform: translate(255%, -400%);
	border: 2px white solid;
	border-radius: 5px;
}



.Skincare .column{
  float:left;
}


.skinpar{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:1.9em;
	color: white;
}

.aboutskincare{
	text-transform: uppercase;
	font-size: 2.5em;
	padding-left: 20px;
	color: white;
	text-decoration: underline;
}

.Skincare {
	width:100%;
	background-color: #BF755A;
	height: 420px;
}

.Skincare img{
	height: initial;
	padding-top: 20px;
	padding-right: 250px;
	margin-right: 60px;
	width: 45em;
	display: block;
}

.Skincare .shop-now-button{
	background: #F2C6B6;
	color: #403527;
	top: 50%;
	left: 50%;
	cursor: pointer;
	font-size: 1em;
	padding: 12px 24px;
	transform: translate(-40%, -350%);
	position: relative;
	border: 2px white solid;
	border-radius: 5px;
}

.shop-now-button:hover{
	color: white;
	}

.Social .column{
  float:right;
}

.Social{
	width:100%;
	background-color: #F4D4B7;
	height: initial;
	position: relative;
	display: block;
}

.socialtag{
	text-align: center;
	font-weight: bold;
}

.join{
  margin:10px;
  font-variant: small-caps;
  font-size: 2.5em;
  letter-spacing: .1em;
  padding:0 .4em;
  background: #736356;
  font-weight: bolder;
	color: white;
  float: right;
	text-align: center;
}


.Social img{
	width:30em;
	height:initial;
	padding-bottom: 42px;
}

.Story{
  width:100%;
	background-color: #DBBFA4;
	height: initial;
	position: relative;
	display: block;
	column-count: 2;
}

.aboutourstory{
	text-transform: uppercase;
	font-size: 2.5em;
	padding-left: 20px;

}

.storypar{
	width: 100%;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:20px;
}
.Story img{
	height: initial;
	width: 30em;
	padding: 10px;
	float: right;
	margin: 30px;

}

.Contact{
	width: 100%;
	height: initial;
	text-align: left;
	background-color: #F5D5B8;
	float: right;
}

.Contact img{
	width:30em;
	height:initial;
	text-align:left;
	margin-right: 50px;
	margin-bottom: 10px;
}


.contacth{
	text-transform: uppercase;
	font-size: 2.5em;
	padding-left: 20px;
}

.myTextBox{
	font-size: 1.5em;
	margin: 20px;
}
.contactbutton{
	background: lightgray;
	color: black;
	cursor: pointer;
	font-size: 1em;
	border: 2px black solid;
	padding: 5px;
	position: absolute;
	cursor: pointer;
	padding: 10px;	
}


footer {
	padding: 20px;
	background-color: #f8edeb;
	clear: both;
}

footer p{
	display: block;
	box-sizing: border-box;
	margin: 30px;
	font-size: 1em;
}

#wrapper{
	width: auto;
	margin: auto;
	padding: auto;
}
