@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 16px; /*1em=16px*/
	line-height: 1.3;
	background-color: #E1D6D6;
}

header {

}

h1, h2, h3, h4 {
	font-size: 3em;
	width: 20em;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
	font-weight: bold;
}

section{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
}

nav {
	color: black;
	float: right;
}

#logo{
	float: left;
	height: 100px;
	position: relative;\
	margin: 10px 15px 15px 10px;
}

.main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.main-nav li {
	display: inline;
	cursor: pointer;
	border: 1px solid black;
	padding: 20px;
	margin-left: -5px;
}

.main-nav a {
	text-decoration: none;
}

.main-nav li:hover{
	background: fff;
}

p {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	width:20em;
	font-size:1.5em;
	text-align: left;
}

.Hero{
	position: relative;
	width: 100%;
	height: initial;
}

.Hero img{
	text-align: center;
	width: 100%;
	height: initial;
}


.Hero .shop-now-button{
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	color: white;
	font-size: 2em;
	padding: 12px 24px;
	background-color: black;
	border-radius: 5px;
	transform: translate(-50%, -50%);
}

.Summary h1{
	font-size: 4em;
	text-align: left;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
	font-weight: bold;
	padding: 20px;
}

.Breads{
	position: relative;
	width:50%;
	height: initial;
}

.Breads img{
	text-align: left;
	width: 50%;
	height: initial;
}

.Breads .shop-now-button{
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	color: white;
	font-size: 1em;
	padding: 12px 24px;
	background-color: black;
	border-radius: 5px;
	transform: translate(-50%, -50%);
}

.Skincare{
	position: relative;
	width:50%;
	height: initial;
}

.Skincare img{
	text-align: left;
	width: 50%;
	height: initial;
}

.Skincare .shop-now-button{
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	color: white;
	font-size: 1em;
	padding: 12px 24px;
	background-color: black;
	border-radius: 5px;
	transform: translate(-50%, -50%);
}

.Social{
	position: relative;
	width:50%;
	height: initial;
}

.Social img{
	width:50%;
	height:initial;
	text-align:left;
}


.Story{
	width: 50%;
	height: initial;
	text-align: left;
}

.Story img{
	width:50%;
	height:initial;
	text-align:left;
}

.Contact{
	width: 50%;
	height: initial;
	text-align: left;
}

.Contact img{
	width:50%;
	height:initial;
	text-align:left;
}
