@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 16px; /*1em=16px*/
	line-height: 1.3;
	background-color: #E1D6D6;
}

h1, h2, h3, h4 {
	font-size: 3em;
	width: 90%;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
	font-weight: bold;
	margin: auto;
}

p {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	width:20em;
	font-size:2em;
	text-align: left;
}


section{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
}

nav {
	background-color: #FAB982;
	color: black;
	float: right;
	padding: 20px;
	letter-spacing: 1px;
}

#logo{
	float: left;
	height: 100px;
	position: relative;\
	margin: 10px 15px 15px 10px;
}

.main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.main-nav li {
	display: inline;
	cursor: pointer;
	padding: 20px;
	margin-left: -5px;
}

.main-nav a {
	text-decoration: none;
}

.main-nav li:hover{
	background: fff;
}


.Hero{
	position: relative;
	width: 100%;
	height: initial;
}

.Hero img{
	text-align: center;
	width: 105%;
	height: initial;
	margin:0;
}


.Hero .shop-now-button{
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	color: white;
	font-size: 2em;
	padding: 12px 24px;
	background-color: black;
	border-radius: 5px;
	transform: translate(-50%, -50%);
}

.Summary h1{
	font-size: 6em;
	text-align: left;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #222222;
	font-weight: bold;
	padding: 20px;
	background-color:#E09983;
	width: 121%;
	border-color: black;
	border-style: solid; 
	margin: 0;
	text-align: center;
}

.ingredients {
font-variant: small-caps;
  letter-spacing: .2em;
  padding:0 .2em;
  background: #FA776B;
  font-weight: bolder;
  text-align: right;
}

.aboutbreads{
	margin: auto;
	text-align: right;
}

.Breads{
	width:100%;
	padding: 10px 200px 10px 40px;
	background-color: #F0E4A9;
	margin: auto;
}

.breadpar{
	width: 20;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:2em;
	text-align: right;
	margin: 20px 200px;
}

.Breads img{
	text-align: left;
	height: initial;
	width: 30em;
	margin: auto;
}

.Breads .shop-now-button{
	background: #FA776B;
	color: black;
	top: 50%;
	left: 50%;
	cursor: pointer;
	font-size: 1em;
	padding: 12px 24px;
	margin: auto
	transform: translate(-50%, -50%);
	position: left;
	border: 2px black solid;
}

.Skincare {
	position:relative;
	width:50%;
	height: initial;
}

.Skincare img{
	text-align: left;
	height: initial;
	width: 30em;
	margin: 2em auto;
}

.Skincare .shop-now-button{
	background: #FA776B;
	color: black;
	top: 50%;
	left: 50%;
	cursor: pointer;
	font-size: 1em;
	padding: 12px 24px;
	transform: translate(-50%, -50%);
	position: relative;
	border: 2px black solid;
}

.Social{
	position: relative;
	width:50%;
	height: initial;
}

.Social img{
	width:30em;
	height:initial;
	text-align:left;
	margin: 2em auto;
}


.Story{
	width: 50%;
	height: initial;
	text-align: left;
}

.Story img{
	width:50%;
	height:initial;
	text-align:left;
	width: 30em;
	margin: 2em auto;
}


.Contact{
	width: 100%;
	height: initial;
	text-align: left;
	background-color: #FA776B;
}

.Contact img{
	width:30em;
	height:initial;
	text-align:left;
	margin: 2em auto;
}
