* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

header {
	background-color: #E1D6D6;
	padding: 20px;
}

.button-container{
display:inline-block;
position:relative;
}

.button-container a{
position: center;
bottom:4em;
right:4em;
background-color:#E1D6D6;
border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:1em 1.5em;
}

.container .btn: hover {
  background-color: black;
}