body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	@import url(https://fonts.googleapis.com/css?family=Mystery+Quest
	font-size: 16px; /*1em=16px*/
	color: #222222;
	line-height: 1.3;
	background-color: #E1D6D6;
}

header {
	background-color: #E1D6D6;
	padding: 20px;
}

nav {
	color: #E1D6D6;
	font-style: bold;
	margin-right: 100px;
	padding-right: 20px;
}

p{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	width:30em;
	font-size:1.5em;
}

}
section	{
	background-color: #E1D6D6;
	padding: 20px;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	width: 100%;
}

.hero{
	background: url(images/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	opacity: 0.8;
	text-align: center;

}

.homepage{
	width:60em;
	margin: 2em auto;
	text-align:center;
}


img	{
	width: 25%;
	
}

hr{
	border:1px #000000;
}
