body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	background-color: #E1D6D6;
}

header {
	background-color: #E1D6D6;
	padding: 20px;
}

nav {
	color: #E1D6D6;
	font-style: bold;
	margin-right: 100px;
	padding-right: 20px;
}

section	{
	background-color: #E1D6D6;
	padding: 20px;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	width: 100%;
}

.hero img{
	background: url(images/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}

img	{
	width: 25%;
}
